# Terraform state and backup files
*.tfstate
*.tfstate.*
crash.log
*.tfvars
.terraform/
.terraform.lock.hcl

# Ignore plan output
*.tfplan

# Local override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore sensitive files
*.auto.tfvars
*.auto.tfvars.json

# Ignore logs
*.log
