PORT=//the_port_which_the_server_will_run_on_e.g._8080
DATABASE_URL=//the_database_url_here_e.g._postgresql://postgres:password@localhost:5432/commercial-bank
CA_CERT_PATH=//the_path_to_the_CA_certificate_file
CA_CERT_PATH='ca.crt'
SERVER_KEY_PATH='server.key'
SERVER_CERT_PATH='server.crt'
TIMEOUT=60000